.admin-viewcontainer {
    padding: 0 1rem;
}

.search-input {
    width: 400px;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin: 2rem 24px 2rem 0px !important;
    
}
.search-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}

.food-card {
    flex: 0 0 calc(450px); 
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
}

.food-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.food-description {
    font-size: 1rem;
    color: gray;
}

.food-rate {
    font-size: 1.25rem;
    margin-top: 1rem;
}
.search-wrap h1{
    font-size: 30px;
    font-weight: 600;
}