.addmenu-con{
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(30px);

  }
  .seledtedname{
    margin-top: 10px;
  }