* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Urbanist', sans-serif;
}
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@100;200;300&family=Urbanist:wght@300;400;500;600&display=swap'); */

.admin-parent_conatiner{
  display: flex;
}
.css-4sd9dj{
  padding: 0 !important;
}
.admin-sidebar{
  width: 250px;
  position: sticky;
  height: 100vh;
  top: 0;

}
.admin-content{
  width: calc(100vw - 250px);
}
.rate-wrap{
  display: flex;
  justify-content: space-between;
}
.chakra-stack.css-12sxl0c{
  height: 93vh !important;
  position: sticky !important;
  top: 64px !important;
}
::-webkit-scrollbar {
  display: none;
}

.admin-chat-con{
  min-height: 93vh;
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(30px);
}
.manage-order-container{
  min-height: 93vh;
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(30px);
  padding-bottom: 20px;
}
.view-status-container{
  min-height: 93vh;
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(30px);
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: white !important;
}
.css-ptiqhd-MuiSvgIcon-root{
  color: black !important;
}
.chat-admin-area{
  height: 70vh;
  overflow-y: scroll;
}
.chat-admin-area{
margin-top: 12px !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: black !important;
}
.css-1aquho2-MuiTabs-indicator{
  background-color: black !important;
}
.admin-input-area{
  margin: 0px 10px;
}
.myaccountpage{
  min-height: 100vh;
  background-color: gray;
}
/* CSS for the Custom Progress Bar */
.progress-bar {
  width: 100%;
  background-color: #ccc; /* Background color for the progress bar */
  height: 20px; /* Height of the progress bar */
  border-radius: 5px;
  position: relative;
}

.progress-fill {
  height: 100%;
  border-radius: 5px;
  background-color: teal; /* Default progress bar color */
  width: 0; /* Initial width, will be adjusted dynamically */
  transition: width 0.3s; /* Smooth transition effect for width changes */
}

/* Customize the color for the rejected status */
.progress-bar.rejected .progress-fill {
  background-color: red;
}


/* Apply the theme color to the buttons */
.pagination-controls {
  text-align: end;
  margin: 20px 20px;
  border-radius: 5px;
}

.pagination-controls button {
  background-color: #EFD36D;
  color: #fff;
  border: none;
  padding: 4px 20px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Add some additional styles to make it look like pagination buttons */
.pagination-controls button#prevButton {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination-controls button#nextButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination-controls span {
  display: inline-block;
  padding: 4px 20px;
  background-color: #fff;
  color: #000;
}

/* Style the current page number span */
.pagination-controls #currentPage {
  font-weight: bold;
}
.chakra-stack .css-ptvylg{
  width: 100% !important;
  display: flex !important;
  /* flex-direction: column !important; */
  justify-content: space-between !important;
}
.css-1zts0j{
  color: black !important;
}
.addressDel{
  width: 40px;
  height: 40px;
  background-color: #e53e3e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addressDel img{
  width: 25px;
  height: 25px;
}
.completeReservationHeading{
  font-size: 30px;
  margin: 20px 0px ;
  font-weight: bold;
}
.completeReservationfill{
  font-size: 21px;
  margin: 20px 0px ;
}