/* Menu container styles */
.menu-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-image: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Page title styles */
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Search bar styles */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Filter button styles */
  .filter-buttons {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  button.active {
    background-color: #0056b3;
  }
  
  /* Grid container for menu items */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  /* Menu item card styles */
  .menu-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .menu-item h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .menu-item p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .menu-item button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .menu-item button:hover {
    background-color: #0056b3;
  }
  
  .menu-item:hover {
    transform: translateY(-5px);
  }
  